/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h6 {
  font-size: 0.6rem;
}

.jt-container {
  min-width: 80%;
  margin: 0 auto;
}

/* CARDS */
.jt-card {
  /* background-color: #112030; */
  cursor: pointer;
  min-width: calc(100%/4);
}